<!DOCTYPE html>
<html>
    <head>
        <title>
            EDUCATIONAL RESOURCE PORTAL
        </title>
        <link rel="stylesheet" href="/static/about.css">
    </head>
    <body>
        <div class="Name">
        <h1>Educational Resource Portal</h1>
        <h3>Your Gateway to Knowledge and Learning Resources</h3>
        </div>
        <div class="navigation">
            <nav>
                <a href="/">HOME</a>
                <a href="/about.html">ABOUT</a>
                <a href="/contract.html">CONTRACT</a>
                <a href="/login.html">LOGIN/REGISTER</a>
            </nav>
        </div>
        <div class="about">
            <h3>About Us</h3>
            <p>We are dedicated to making quality education accessible to everyone, everywhere. Learn more about our mission, vision, and the team behind Educational Resource Portal.</p>   
        </div>
        <div class="mission">
            <h3>Our Mission</h3>
            <p>At Educational Resource Portal, our mission is to empower learners worldwide by providing free, high-quality educational resources. We aim to bridge the gap in education by offering accessible pdfs and materials for students, educators, and lifelong learners.</p>
        </div>
        <div class="Vision">
            <h3>Our Vision</h3>
            <p>We envision a world where education knows no boundaries. By leveraging technology, we strive to create a global community of learners who can access knowledge anytime, anywhere, and achieve their full potential.</p>
        </div>
        <div class="join">
            <h3>Join Our Community</h3>
            <p>Ready to start your learning journey? Explore our resources or sign up to become part of our growing community of learners</p>
            <div class="reg">
                <a href="login.html">Explore Our Resources</a>
            </div>
        </div>
        <footer class="end">
            <p>@2025 Educational Resource Portal</p>
        </footer>
</html>