<!DOCTYPE html>
<html>
    <head>
        <title>
            EDUCATIONAL RESOURCE PORTAL
        </title>
        <link rel="stylesheet" href="/static/contract.css">
    </head>
    <body>
        <div class="Name">
        <h1>Educational Resource Portal</h1>
        <h3>Your Gateway to Knowledge and Learning Resources</h3>
        </div>
        <div class="navigation">
            <nav>
                <a href="/">HOME</a>
                <a href="/about.html">ABOUT</a>
                <a href="/contract.html">CONTRACT</a>
                <a href="/login.html">LOGIN/REGISTER</a>
            </nav>
        </div>
        <div class="contract">
            <h3>Contract us</h3>
            <p>We’d love to hear from you! Whether you have a question, feedback, or need support, feel free to reach out using the form below or our contact details.</p>
        </div>
        <div class="Touch">
            <h3>Get In Touch</h3>
            <div class="form">
                <form action="#" method="POST">
                    <div class="ame">
                       <label for="Name">Name</label>
                       <input type="text" id="Name" name="Name" placeholder="Your Name"><br>
                    </div>
                    <div class="Email">
                        <label for="Email">Email</label>
                        <input type="email" id="Email" email="Email" placeholder="Your Email"><br>
                    </div>
                    <div class="Sub">
                        <label for="Sub">Subject</label>
                        <input type="text" id="Sub" Subject="Sub" placeholder="Type Your Subject"><br>
                    </div>
                    <div class="Message">    
                        <label for="Message">Message</label>
                        <textarea id="Message" Message="Message" placeholder="Explain Your Problem"></textarea><br>
                    </div>    
                        <button type="submit" >Send Message</button>               
                </form>
            </div>
        </div>
        <div class="join">
            <h3>Join Our Community</h3>
            <p>Ready to start your learning journey? Explore our resources or sign up to become part of our growing community of learners</p>
            <div class="reg">
                <a href="login/register">Explore Our Resources</a>
            </div>
        </div>
        <footer class="end">
            <p>@2025 Educational Resource Portal</p>
        </footer>
    </body>
</html>