<!DOCTYPE html>
<html>
    <head>
        <title>
            EDUCATIONAL RESOURCE PORTAL
        </title>
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <div class="Name">
        <h1>Educational Resource Portal</h1>
        <h3>Your Gateway to Knowledge and Learning Resources</h3>
        </div>
        <div class="navigation">
            <nav>
                <a href="/">HOME</a>
                <a href="/about.html">ABOUT</a>
                <a href="/contract.html">CONTRACT</a>
                <a href="/login.html">LOGIN/REGISTER</a>
            </nav>
        </div>
        <div class="sign">
            <h2>Unlock a World of Learning!</h2>
            <p>Access thousands of free educational resources, courses, and tools to enhance your learning journey—anytime, anywhere.</p>
            <div class="reg">
                <a href="login/register">Explore Our Resources</a>
            </div>
        </div>
        <div class="offer">
            <h3>What we Offer</h3>
            <div class="Free">
                <h4>Free Resources</h4>
                <p>Access a wide range of free study materials</p>
            </div>
            <div class="access">
                <h4>Early Access</h4>
                <p>Learn on the go with mobile-friendly content.</p>
            </div>
            <div class="support">
                <h4>Community Support</h4>
                <p>Join a community of learners and educators to collaborate and grow.</p>
            </div>
        </div>
        <footer class="end">
            <p>@2025 Educational Resource Portal</p>
        </footer>
    </body>
    
</html>